/*========== Common Css Start ==========*/

body {
    font-family: "Poppins", sans-serif;
}

/*========== Common Css End ==========*/

/*========== Header Css Start ==========*/

.header-left {
    width: 70%;
    display: flex;
    align-items: center;
}

header {
    padding: 8px;
}

.header-search input {
    border-radius: 20px;
    /* background: #ebebeb; */
    padding-left: 30px;
    border-color: #ebebeb;
    color: #858585;
    height: 36px;
}

.header-search {
    width: 64%;
    margin-left: 20px;
    position: relative;
}

.search-logo {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.search-logo i {
    color: #be1e2d;
}

.header-search input:focus {
    box-shadow: unset;
    border-color: #e7e7e7;
}

.header-menu-bar.dark span {
    color: #0f0f0f;
}

.header-left-menu ul {
    padding: 0;
    list-style: none;
    margin: 0 20px;
}
.header-menu-bar span {
    color: #858585;
}
.header-left-menu ul li {
    display: inline-block;
}

.header-left-menu ul li a {
    color: #858585;
    text-decoration: none;
    padding: 0 5px;
    font-weight: 300;
    transition: hover 1s ease;
}

.header-left-menu ul li a:hover {
    color: #3d3d3d;
}

.header-left-menu ul li a.active {
    color: #3d3d3d;
    font-weight: 400;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-right-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-right-menu ul li {
    display: inline-block;
    padding: 0 10px;
}

.header-right-menu ul li a {
    text-decoration: none;
    color: #858585;
    font-weight: 300;
    transition: hover 1s ease;
}

.header-right-menu ul li a:hover {
    color: #3d3d3d;
}

.header-bar {
    display: inline-block;
    width: 1px;
    height: 48px;
    background: #e52d2d;
}

.header-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.header-right-menu ul li span {
    display: inline-block;
    font-size: 20px;
}

.header-category-content .slick-slide {
    margin: 0 10px;
}

.header-category-content .slick-list {
    margin: 0 10px;
}

.header-category-content {
    margin: 10px 0;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.header-category-content p {
    margin-bottom: 0;
    padding-right: 10px;
    font-size: 14px;
    color: #3d3d3d;
}

.header-category-item {
    color: #858585 !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
}

.header-category-item:hover {
    color: #3d3d3d !important;
}

.header-category-item.active {
    color: #3d3d3d !important;
    text-decoration: underline;
    font-weight: 500;
}

.header-category-content .slick-arrow {
    border: 0;
    background: transparent;
    font-size: 10px;
    color: #4f4f4f;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    z-index: 2;
}

.header-category-list.slick-slider {
    width: 100%;
    min-width: 0;
    position: relative;
    margin-left: 10px;
}

.header-category-content .slick-arrow.prev-arrow {
    left: -14px;
    padding: 0;
}

.header-category-content .slick-arrow.next-arrow {
    right: 0;
}

.header-category-content .slick-disabled {
    opacity: 0;
    pointer-events: none;
}

.header-category-list.slick-slider::after {
    bottom: 0;
    content: "";
    display: block;
    width: 200px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
    background: linear-gradient(90deg, #fff0 0, #fff 90%, #fff);
    right: 0;
}

.header-category-list.slick-slider.cat-fade::before {
    bottom: 0;
    content: "";
    display: block;
    width: 200px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
    background: linear-gradient(270deg, #fff0 0, #fff 90%, #fff);
    left: 0;
}

.header-category-content .slick-track > .slick-slide {
    display: inline-block !important;
    float: none !important;
}

.header-category-content .slick-list.draggable {
    overflow: unset !important;
    clip-path: inset(-100vw 0 -100vw 0);
}

.header-category-list.slick-slider.cat-not-fade-right::after {
    display: none !important;
}

.haeder-bar-menu {
    background: #fff;
    box-shadow: 0 0 2px 2px #e9e9e9;
    border-radius: 4px;
    width: 170px;
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.haeder-bar-menu::before {
    content: "";
    position: absolute;
    top: -14px;
    right: 7px;
    height: 14px;
    width: 14px;
    background: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateX(-50%) translateY(6px) rotate(-45deg);
}

.haeder-bar-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.haeder-bar-menu ul li {
    display: block;
    padding: 0;
}

.haeder-bar-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #747d88;
    font-size: 14px;
    font-weight: 300;
    transition: all 0.1s;
}

.haeder-bar-menu ul li a:hover,
.haeder-bar-menu ul li a.active {
    color: #000;
    font-weight: 400;
}

.header-menu-bar {
    position: relative;
    cursor: pointer;
}

.haeder-bar-menu.open {
    opacity: 1;
    visibility: visible;
}

/*========== Home Section Css Start ==========*/

.home-banner {
    background: url(../images/section-bg.png);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.home-banner-search p {
    color: #fff;
    margin-top: 10px;
}

.home-banner-search-input input {
    width: 80%;
    border-radius: 30px;
    height: 60px;
    padding-left: 55px;
}

.home-banner-search-input {
    position: relative;
}

.home-banner-search-input input:focus {
    box-shadow: unset;
    border-color: unset;
}

.home-banner-search-logo {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    display: inline-block;
    line-height: 0;
}

.home-banner-search-logo i {
    font-size: 20px;
    color: #e52d2d;
}

.home-banner-search p {
    color: #fff;
    margin-top: 10px;
}

.home-banner-search-input input {
    width: 80%;
    border-radius: 30px;
    height: 60px;
}

.home-banner-search-input {
    position: relative;
}

.home-banner-cat-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.home-banner-cat-list {
    margin-top: 20px;
}

.home-banner-cat-list ul li {
    display: inline-block;
    margin-right: 20px;
}

.home-banner-cat-list ul li a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

.home-main {
    padding: 50px 0;
}

.home-main-option-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-main-option-right {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.filter-option {
    display: flex;
    align-items: center;
}

.filter-option select {
    border: 0;
    border-bottom: 1px solid #ccc;
}

.filter-option span {
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    white-space: pre;
}

.home-main-option-select select {
    border-color: #858585;
}

.home-main-option-select select:focus {
    box-shadow: unset;
    border-color: #3d3d3d;
}

.select2-container {
    width: 170px !important;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 6px;
}

.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container .select2-selection--single:focus {
    border-color: #3d3d3d;
}

.select2-search--dropdown {
    display: none;
}

.select2-container--open .select2-dropdown--below {
    border: 0;
    box-shadow: 0 0 2px 1px #efefef;
    border-radius: 8px;
    top: 4px;
}

.select2-results__option {
    padding-left: 18px;
    font-weight: 300;
}

.select2-container--default
    .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #e7e7e7;
    color: #3d3d3d;
    font-weight: 400;
}

.select2-container--default .select2-results__option--selected {
    background-color: #e7e7e7;
    color: #3d3d3d;
    font-weight: 400;
}

.select2-results__options li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.select2-results__options li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.second-filtering-form {
    margin-top: 30px;
}

.price-filter {
    display: flex;
    align-items: center;
}

.checkbox-filter {
    display: flex;
    align-items: center;
}

#keywords-search {
    width: 100%;
}

#min-price {
    margin-right: 30px;
}

.price-filter input {
    width: 180px;
}

.show-filter,
.hide-filter {
    cursor: pointer;
    border-bottom: 1px solid #3d3d3d;
}

.checkbox-filter label {
    font-size: 12px;
    color: #3d3d3d;
}

.show-filter i,
.hide-filter i {
    margin-left: 10px;
}

.checkbox-filter .form-check-input:focus {
    box-shadow: unset;
    border-color: unset;
}
/*========== Home Section Css End ==========*/

/*========== Header Css End ==========*/

/*========== Pricing Section Css Start ==========*/
.pricing-card-section {
    margin-top: 100px;
}

.pricing-section {
    padding: 50px 0;
}

.pricing-section-heading {
    text-align: center;
}

.pricing-section-heading h1 {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    letter-spacing: 1.92px;
}

.pricing-section-heading p {
    font-size: 16px;
    line-height: 24px;
    width: 523px;
    letter-spacing: 0.96px;
    margin: auto;
}

.pricing-card-price strong .pricing-card-section {
    margin-top: 50px;
}

.pricing-card {
    background: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 90px;
    box-shadow: 0 0 5px 1px #eee;
    border-radius: 5px;
}

.pricing-card-heading {
    font-size: 23px;
    line-height: 26px;
    color: #0a1821;
    margin-bottom: 37.5px;
}

.pricing-card-price strong {
    font-size: 47px;
    line-height: 26px;
    color: #e52d2d;
}

.pricing-card-price span {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}

.pricing-card-price {
    color: #101010;
}

.pricing-card-feature-list {
    margin-top: 50px;
    padding: 0 10px;
}

.pricing-card-feature-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing-card-feature-list ul li {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.32px;
    color: #777777;
    padding: 10px;
    border-top: 1px dashed #e4e4e4;
    border-bottom: 1px dashed #e4e4e4;
}

.pricing-card-feature-list ul li:last-child {
    border-bottom: 0;
}

.pricing-card-button {
    margin-top: 20px;
}

.pricing-card-button .btn {
    color: #be1e2d;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.56px;
    border: 1px solid #be1e2d;
    padding: 14px 20px;
    background-color: #fff;
    border-radius: 30px;
}

.pricing-card.active {
    margin-top: -50px;
}

/*========== Pricing Section Css End ==========*/

/*========== Login Section Css Start ==========*/

.login-section-top {
    padding: 150px 0;
    background: url(../images/section-bg.png);
    background-size: cover;
    background-position: center;
}

.login-section-heading h1 {
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    line-height: 75px;
    color: #fff;
}

.login-section-form input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-left: 0;
}

.login-section-form input::placeholder {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

.login-section-form .email-input {
    margin-bottom: 20px;
}

.login-section-form .sumbit-btn .btn {
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 4px 12px;
}

.sumbit-btn {
    text-align: center;
}

.login-section-form-bottom {
    margin-top: 30px;
    text-align: center;
}

.login-section-form-bottom p {
    color: #fff;
}

.login-section-form-bottom p a {
    color: #3262a6;
    font-weight: 500;
    text-decoration: none;
}

.social-login .btn {
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    margin: 0 10px;
}

.social-login .btn i {
    margin-right: 5px;
}

.fb-login-btn {
    background: #0081ff;
}

.google-login-btn {
    background: #f50d3f;
}

.login-section-form-bottom p.or {
    font-size: 18px;
}

.login-section-form input:focus {
    background-color: transparent;
    box-shadow: unset;
    border-color: #fff;
    color: #fff;
}

.login-section-bottom {
    padding: 20px 0;
    overflow: hidden;
}

.login-section-gallery .slick-arrow {
    border: 0;
    background: #fff;
    font-size: 20px;
    color: #4f4f4f;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    z-index: 2;
}

.login-section-gallery .slick-arrow.prev-arrow {
    left: 0;
    padding: 0;
}

.login-section-gallery .slick-arrow.next-arrow {
    right: 0;
}

.login-section-gallery {
    position: relative;
}

.login-section-gallery .slick-slide {
    margin: 0 20px;
}

.login-section-gallery .slick-list {
    margin: 0 -20px;
}

.login-section-gallery-item img {
    width: 100%;
}
/*========== Login Section Css End ==========*/

/*========== Category Page Css Start ==========*/

.categoty-page-hero {
    padding: 50px 0;
}

.categoty-page-hero-info h1 {
    font-size: 78px;
    font-weight: 500;
    line-height: 117px;
    color: #e52d2d;
}

.categoty-page-hero-info p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.categoty-page-hero-image {
    text-align: right;
}

/*========== Category Page Css End ==========*/

/*========== Coming Soon Section Css Start ==========*/

.comingsoon-section {
    background: url(../images/comingsoon-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.comingsoon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.comingsoon-image {
    margin-bottom: 35px;
}

.comingsoon-content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 64px;
    line-height: 96px;
    color: #fff;
    margin-bottom: 30px;
}

.comingsoon-form input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-left: 0;
    width: 410px;
    margin-bottom: 30px;
}

.comingsoon-form input::placeholder {
    color: #fff;
}

.comingsoon-form form {
    text-align: center;
    font-weight: 200;
}

.btn-comingsoon-subscribe {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 200;
}

.comingsoon-form input:focus {
    background-color: transparent;
    box-shadow: unset;
    border-color: #fff;
    color: #fff;
}
/*========== Coming Soon Section Css End ==========*/

/*========== Footer Section Css Start ==========*/

footer {
    background: #be1e2d;
    padding: 10px 0;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 16px;
    line-height: 24px;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-copyright-text p {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
}

/*========== Footer Section Css End ==========*/

/* ============ Gallery Section Css Start */

.gallery-image {
    position: relative;
    height: 350px;
    margin-bottom: 20px;
}

.gallery-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.gallery-image:hover .gallery-image-overlay {
    visibility: visible;
    opacity: 1;
}

.gallery {
    padding-bottom: 50px;
}

.gallery-image-overlay-top {
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 20px;
    z-index: 99;
}

.gallery-image-overlay-bottom {
    display: flex;
    margin-left: 15px;
    align-items: flex-start;
    margin-bottom: 8px;
    z-index: 99;
}

.gallery-image-overlay-top span {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
}

.gallery-image-overlay-bottom img {
    height: 40px;
    margin-right: 10px;
}

.gallery-image-overlay-bottom-content h5 {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2px;
}

.gallery-image-overlay-bottom-content p {
    color: #fff;
    font-size: 8px;
    font-weight: 300;
}

.gallery-image-overlay::before {
    content: "";
    background: #00000057;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

.gallery-image > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* ============ Gallery Section Css End */

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.clearable {
    background: url(http://i.imgur.com/z7ZSYjt.png) no-repeat right -10px center;
    background-color: #ebebeb;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* USE the same right padding in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x {
    background-position: right 15px center;
}
.clearable.onX {
    cursor: pointer;
}

.home-main-option-mid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-main-option-select {
    display: flex;
    justify-content: flex-end;
}

.second-filtering-mid {
    margin-left: 36px;
}

.search-logo img {
    width: 32%;
}

.home-banner-search-logo img {
    width: 26%;
}
